.light ul.elementConteiner li label .icon-box{
  background: #edf5fc;
  /* border: 3px solid #000; */
  box-shadow: -2px -2px 5px rgba(255,255,255,1),
  3px 3px 5px rgba(0,0,0,0.1)
}
.light ul.elementConteiner li label .icon-box > i{
  color: #6a9bd8;
}
.light ul.elementConteiner li label input[type="checkbox"]:checked ~ .icon-box,
.light ul.elementConteiner li label input[type="button"]:active ~ .icon-box{
  box-shadow: inset -2px -2px 5px rgba(255,255,255,1),
  inset 3px 3px 5px rgba(0,0,0,0.1)
}
.light ul.elementConteiner li label input[type="checkbox"]:checked ~ .icon-box i,
.light ul.elementConteiner li label input[type="button"]:active ~ .icon-box i{
  transform: scale(0.95);
}
