.night header{
  background: #333;
  color: #fff;
}
.night .searchBtn{
  background: #555;
  color: #fff;
}
.night .titleButtonAdd{
  background: #fff;
}
.night .titleButtonAdd:hover{
  box-shadow: inset 0 0 5px #000;
}
