.night .InputNumber{
  border: 2px solid #333;
}
.night .InputNumber .InputNumber-btnUp,
.night .InputNumber .InputNumber-btnDown{
  background: #777;
}
.night .InputNumber .InputNumber-btnUp i,
.night .InputNumber .InputNumber-btnDown i{
  color: #fff;
}
