@import "./inputNumber.light.css";
@import "./inputNumber.night.css";

.InputNumber{
  margin: 5px
}
.InputNumber input[type="text"]{
  width: calc(100% - 12px);
  border: 2px solid;
  font-size: 20px;
  outline: none;
  text-align: center;
  padding: 4px;
}
.InputNumber .InputNumber-btnConteiner{
  display: flex;
}
.InputNumber .InputNumber-btnUp,
.InputNumber .InputNumber-btnDown
{
  flex: 0 1 50%;
  height: 30px;
  margin: 5px;
  box-shadow: 0 0 5px #000;
  transition: 0.2s;
  position:relative;
}
.InputNumber .InputNumber-btnUp:hover,
.InputNumber .InputNumber-btnDown:hover{
  box-shadow: none;
}
.InputNumber .InputNumber-btnUp:active,
.InputNumber .InputNumber-btnDown:active{
  box-shadow: inset 0 0 5px #000;
}
.InputNumber .InputNumber-btnUp i,
.InputNumber .InputNumber-btnDown i{
  font-size: 24px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
