body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-attachment: fixed;
}
*{
  margin: 0;
  padding: 0;
}
* button{
  outline: none;
  transition: 0.5s;
}
* li{
  list-style: none;
}
.App{
  overflow: hidden;
}
*::-webkit-scrollbar{
  width: 0;
}
