.editcart-conteiner{
  position: relative;
  width: 100%;
  height: 100%;
  background: #888;
  overflow-y: scroll;
}
.editcart-conteiner p{
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.editcart-conteiner .editcart-element{
  padding: 10px;
  margin: 10px;
  border: 1px solid #111;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000;
}
.editcart-conteiner .editcart-element input[type="text"]{
  outline: none;
  padding: 5px;
  width: calc(100% - 10px);
  border: none;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #000;
}
.editcart-conteiner button{
  border: none;
  background: #555;
  color: #fff;
  height: 30px;
  margin: 10px;
  width: calc(100% - 20px);
  border-radius: 4px;
  transition: 0.5s;
}
.buttonGrid{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30px;
}
.buttonGrid button{
  border: none;
  background: #555;
  color: #fff;
  border-radius: 4px;
  transition: 0.5s;
}
.buttonGrid button:hover,
.editcart-conteiner button:hover{
  box-shadow: inset 0 0 5px #000;
}
.childrenList{
  background: #aaa;
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}
.childrenList.active{
  left:0;
}
.deviceItem{
  border: 1px solid #333;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 0 5px #000;
}
.deviceItem:hover{
  box-shadow: 0 0 1px #000;
}
.deviceItem:active,
.deviceFunctionItem input[type="button"]:active{
  box-shadow: inset 0 0 5px #000;
}
.deviceFunctionConteiner{
  height: 100%;
}
.deviceFunctionItem{
  border: 2px solid #555;
  margin: 2px;
}
.deviceFunctionItem input[type="button"]{
  width: calc(100% - 10px);
  margin: 5px;
  height: 30px;
  background: #777;
  border: none;
  outline: none;
}
.deviceFunctionItem input[type="text"]{
  width: calc(100% - 18px);
  border: none;
  font-size: 20px;
  outline: none;
  text-align: center;
  padding: 4px;
  margin: 5px;
  background: #ddd;
  border: 2px solid #555;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #000;
}
