.conteiner.home{
  transition: 0.5s;
  transform: translateY(0);
  position: relative;
}
.conteiner.home.editMode{
  transform: translateY(100px);
}
.conteinerHome{
  position: relative;
  padding: 5px;
  width: calc(100% - 10px);
  height: 100%;
}
.HomeGrid{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-gap: 5px;
  /* grid-auto-rows: 1fr; */
  grid-auto-columns:none;
  padding-bottom: 100px;
}
@media (max-width: 1000px){
  .HomeGrid{
    grid-template-columns: repeat(3 , 1fr);
  }
}
@media (max-width: 800px){
  .HomeGrid{
    grid-template-columns: repeat(2 , 1fr);
  }
}
@media (max-width: 700px){
  .conteinerHome{
    margin-top: 60px;
  }
}
@media (max-width: 500px){
  .HomeGrid{
    display: block;
  }
  .HomeGrid > div{
    margin: 5px;
  }
}
