.loader{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  /* background: #000; */
}
.loader .face{
  position: absolute;
  border: 2px solid #121212;
}
.loader .face.face1{
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #090909;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  border-radius: 50%;
  border-left: 2px solid #ff0000;
  border-top: 2px solid #ff0000;
  animation: animate 3s linear infinite;
}
.loader .face.face2{
  top:30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: #090909;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  border-radius: 50%;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  animation: animate 3s linear reverse infinite;
}
.loader .face .circle{
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 50%;
  height: 2px;
  transform-origin: left;

}
.loader .face.face1 .circle{
  transform: rotate(-45deg);
}
.loader .face.face2 .circle{
  transform: rotate(-45deg);
}
.loader .face .circle::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -4px;
  right: -6px;
}
.loader .face.face1 .circle::before{
  background: #ff0000;
  box-shadow: 0 0 20px #f00,
  0 0 40px #f00,
  0 0 60px #f00,
  0 0 80px #f00,
  0 0 100px #f00,
  0 0 5px rgba(255, 0, 0, .1);
}
.loader .face.face2 .circle::before{
  background: #fff;
  box-shadow: 0 0 20px #fff,
  0 0 40px #fff,
  0 0 60px #fff,
  0 0 80px #fff,
  0 0 100px #fff,
  0 0 5px rgba(255, 255, 255, .1);
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
