@import "./leftMenu/leftMenu.base.css";
@import "./header/header.base.css";
@import "./deviceCart/deviceCart.base.css";
@import "./hidingLi/hidingLi.base.css";
@import "./form/form.base.css";
@import "./homeCart/homeCart.base.css";
@import "./modalWindow/modalWindow.base.css";
@import "./user/user.base.css";
@import "./inputNumber/inputNumber.base.css";
@import "./pages/pages.base.css";
@import "./switch/switch.base.css";
@import "./scriptsPage/scriptsPage.base.css";
@import "./newScriptsPage/newScriptsPage.base.css";
@import "./usersPage/usersPage.base.css";

@import "./style-page.css";
@import "./style-title.css";
@import "./style-devices.css";
@import "./style-ImageInput.css";
@import "./styleLoader.css";
@import "./style-reg.css";


@import "./terminal.css";
@import "./home.css";
@import "./EditCartWindow.css";
/* @import "./light/light.css";
@import "./night/night.css"; */

.backForm{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
}
