.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.title{
  text-align: center;
  padding: 50px 0 20px;
}
.title h1{
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
}
.row{
  margin: 0 10px 0 10px;
}
.container-reg{
  border-radius: 8px;
  max-width: 1000px;
  height: 60%;
  background: #ccc;
  margin: 0 auto;
  border: 4px solid #3d3d3d;
  transition: 0.5s;
  box-shadow: 0 15px 40px rgba(0,0,0,.5),
              inset 0 0 15px rgba(0, 0, 0, 1);
}
.container-reg.err{
  transition: 0.5s;
  box-shadow: inset 0 0 10px 5px rgba(255, 0, 0, 1);
}
.container-reg .container{
  position: absolute;
  top:-5px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-reg .main-reg{
  height:75%;
  position: relative;
}
.container-reg .footer-reg{
  height:25%;
  padding-bottom: 12px;
}
.container-reg .footer-reg .formBox-reg{
  padding: 0 40px 0 40px;
  text-align: center;
}
.container-reg .left-reg{
  text-align: right;
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}
.container-reg .right-reg{
  float: right;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}
.right-reg .formBox-reg{
  width: 100%;
  padding: 50px 38px 10px 10px;
  box-sizing: border-box;
  height: 100%;
}
.left-reg .formBox-reg{
  width: 100%;
  padding: 50px 10px 10px 38px;
  box-sizing: border-box;
  height: 100%;
}
.formBox-reg p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #0046cf;
}
.formBox-reg input
{
  background: #ccc;
  width: 100%;
  margin-bottom: 20px;
}
.container-reg .left-reg input{
  text-align: right;
}
.container-reg .footer-reg input{
  text-align: center;
}
.formBox-reg input[type="text"],
.formBox-reg input[type="email"],
.formBox-reg input[type="tel"],
.formBox-reg input[type="password"]{
  border: none;
  border-bottom: 2px solid #0046cf;
  outline: none;
  height: 40px;
}
.formBox-reg input[type="text"]:focus,
.formBox-reg input[type="email"]:focus,
.formBox-reg input[type="tel"]:focus,
.formBox-reg input[type="password"]:focus{
    border-bottom: 2px solid #262626;
}
.formBox-reg input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  background: #262626;
  cursor: pointer;
}
.formBox-reg input[type="submit"]:hover{
  background: #0046cf;
}
.formBox-reg a{
  color: #262626;
  font-size: 12px;
  font-weight: bold;
}
