.imageInput{
  position: relative;
}
.imageInput label{
  margin: 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-radius: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imageInput label p{
  display: inline-block;
  position: relative;
  font-size: 24px;
}
.imageInput label input[type="file"]{
  display: none;
  margin: auto;
}
.imageInput label .fileList{
  display: flex;
  position: relative;
  width: 200px;
  right: 0;
  top: 0;
  align-items: center;
}
.imageInput label .fileList .inputImg{
  position: relative;
  width: 100%;
}
@media (max-width: 450px){
  .imageInput label{
    display: block;
  }
  .imageInput label p{
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 30px;
  }
  .imageInput label .fileList{
    width: 100%;
  }
}
