.titlePage{
  transition: 0.5s;
  height: 100px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 4;
}
.titleDefault{
  margin-left: 40px;
  border-radius: 20px;
  width: calc(100% - 80px);
}
.titleTop{
  width: 100%;
  height: 80px;
}
.titlePage h1,
.titlePage h2
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.sticky{
  position: sticky;
}
.titleButtonAdd{
  position: absolute;
  right: 30px;
  top: 50%;
  height: 40px;
  width: 40px;
  transform: translateY(-50%);
  border: none;
  outline: none;
  border-radius: 50%;
}
.titleButtonAdd .fas{
  font-size: 30px;
  border-radius: 50%;
}
a.titleButtonAdd .fas{
  color: #000;
  position: absolute;
  top:5px;
  left: 6px;
}
@media (max-width: 700px){
  .titleTop{
    margin-left: 60px;
    width: calc(100% - 60px);
    height: 60px;
    background:rgba(0,0,0,0);
  }
}
@media (max-width: 400px){
  .titlePage h1{
    text-align: left;
    padding-left: 20px;
  }
  .titleDefault{
    width: 100%;
    height: 80px;
    margin: 0;
    border-radius: 0;
  }
}
