.light .CardElement .CardBody p{
  color: #000;
}
.light .CardConteiner .CardElement{
  background: #fffa;
}
.light .CardConteiner .CardElement .CardBody .CardControl button{
  background: linear-gradient(to top, #ddd, #aaa);
  color: #000;
}
