@import "./deviceCart.light.css";
@import "./deviceCart.night.css";
.CardConteiner{
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.CardConteiner .CardElement{
  position: relative;
  width: 300px;
  height: 420px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  transition: 0.5s;
}
@media (max-width:400px) {
  .CardConteiner{
    padding: 20px 0;
  }
  .CardConteiner .CardElement{
    margin: 20px 0;
  }
}
.CardConteiner .CardElement .CardHeader{
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
  z-index: 1;
  overflow-y: scroll;
}
.CardConteiner .CardElement .CardHeader::-webkit-scrollbar{
  width: 0;
}
.CardConteiner .CardElement .CardHeader .typeConnect{
  background: #888;
  color: white;
  border-radius: 15px;
  display: inline-block;
  width: 100px;
  padding: 2px;
  box-shadow: inset 0 0 10px #000;
}
.CardConteiner .CardElement .CardHeader .typeConnect.mqtt{
  background: #4B0082;
  color: white;
}
.CardConteiner .CardElement .CardHeader .typeConnect.miio{
  background: orange;
  color: black;
}
.CardConteiner .CardElement .CardHeader h3{
  color: #fff;
  font-size: 2em;
  padding: 30px 0;
}
.CardConteiner .CardElement .CardBody{
  position: absolute;
  top: 170px;
  width: calc(100% - 20px);
  height: calc(100% - 192px);
  page-break-after: 20px;
  text-align: center;
  padding: 10px;
}
.CardConteiner .CardElement .CardBody p{
  font-size: 20px;
}
.CardConteiner .CardElement .CardBody .CardControl{
  position: absolute;
  bottom: 10px;
  left: auto;
  width: calc(100% - 20px);
}
.CardConteiner .CardElement .CardBody .CardControl button{
  padding: 5px;
  width: calc(100% - 5px);
  border-radius: 5px;
  border: none;
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 5px #000;
  transition: 0.25s;
}
.CardConteiner .CardElement .CardBody .CardControl button:hover{
  background: #1E90FF;
}
.CardConteiner .CardElement .CardBody .CardControl button:active{
  transform: none;
  box-shadow: none;
}
.CardConteiner .CardElement:nth-child(4n+1) .CardHeader{
  background: #ffaf00;
}
.CardConteiner .CardElement:nth-child(4n+2) .CardHeader{
  background: #FF00FF;
}

.CardConteiner .CardElement:nth-child(4n+3) .CardHeader{
  background: #1E90FF;
}

.CardConteiner .CardElement:nth-child(4n) .CardHeader{
  background: #8B0000;
}
