@import "./modalWindow.light.css";
@import "./modalWindow.night.css";

.modalWindow{
  border-radius: 4px;
  overflow: hidden;
}
.modalHeader{
  width: 100%;
  position: relative;
}
.modalHeader button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 90%;
  max-height: 20px;
}
.modalHeader button.userBtn{
  right: 30px;
  border: none;
  border-radius: 4px;
  background: gray;
}
.modalHeader button.hide{
  right: 5px;
  background: red;
  border: none;
  border-radius: 4px;
}
.modalHeader h4{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  height: 20px;
}
.modalHeader button:hover{
  box-shadow: inset 0 0 10px #000;
}
.modalContent{
  min-height: 20px;
  position: relative;
  /* overflow: hidden; */
}
.centerWindow{
  position: fixed;
  top:80px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  max-height: calc(100% - 200px);
  border-radius: 10px;
  overflow-y: scroll;
}
