.light .form {
  background: #fffc;
  color: #000;
}
.light .form .formFooter{
  background: #1E90FFc0
}
.light .form .FormControlBtn{
  background: #1E90FF00;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
.light .form .FormControlBtn:hover{
  box-shadow: inset 0 0 5px #000;
}
.light .formContent ul.devicesList li{
  background: #999;
}
.light .formContent label h5{
  color: #000;
}
