.light .pages .page{
  background: #fffc;
  color: #000;
}
.light .pages .page-nav li a{
  color: #000;
}
.light .configElement{
  border: 2px solid #76d7ff;
  box-shadow: inset 0 0 10px #000;
  color: #000;
}
