@import "./scriptsPage.light.css";
@import "./scriptsPage.night.css";

.Scripts{
  padding: 40px 5px 0 5px;
}
.scriptElement{
  height: 100px;
  width: 100%;
  margin-bottom: 5px;
  box-shadow: inset 0 0 5px #000;
  display: flex;
  align-items: center;
  position: relative;
}
.scriptElement p{
  margin: 20px;
  font-size: 1.5em;
}
.scriptElement .scriptStatus{
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
}
.scriptElement .scriptStatus .switchConteiner{
  display: flex;
  position: relative;
  width:200px;
  margin-right: 20px;
}
.scriptElement .scriptStatus .switchConteiner .switch{
  top: 5px;
  /* transform: translateY(-50%); */
}
.scriptElement .scriptStatus .deleteBtn{
  height: 40px;
  width: 40px;
  background: red;
  color:#fff;
  border: none;
  border-radius: 20px;
}
.scriptElement .scriptStatus .deleteBtn:hover{
  box-shadow: inset 0 0 10px #000;
}
.scriptElement .scriptStatus .showBtn,
.scriptElement .scriptStatus .activateBtn{
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 1px 1px 3px #000;
  transition: 0.5s;
}
.scriptElement .scriptStatus .showBtn:hover,
.scriptElement .scriptStatus .activateBtn:hover{
  transform: translate(2px, 2px);
  box-shadow: none;
}
@media (max-width: 850px) {
  .scriptElement{
    display: block;
    height: 120px;
  }
  .scriptElement p{
    padding: 10px;
    margin: 0 20px;
    text-align: center;
  }
  .scriptElement .scriptStatus{
    position: relative;
    top:0;
    right: 0;
    width: calc(100% - 10px);
    justify-content: space-around;
  }
  .scriptElement .scriptStatus .switchConteiner .switch{
    top: 0;
  }
}
@media (max-width: 550px){
  .scriptElement{
    display: block;
    height: auto;
  }
  .scriptElement .scriptStatus{
    position: relative;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
}
