.night .navigation nav ul li:hover > a,
.night .navigation nav ul li:hover > span.liinfo,
.night .navigation nav ul li a.active,
.night .menuTogle:hover
{
  background: #1E90FF;
  transition: 0.3s;
}
.night .topMenu,
.night .navigation nav
{
  background: #333;
  color: white;
}
.night .navigation nav ul li a,
.night .navigation nav ul li a .icon,
.night .navigation nav ul li span.liinfo .icon,
.night .menuTogle .icon{
  color: white;
}
